<h2>Cadastrar Aluno: </h2>
<hr>

<form>
    <p>Nome: <input type="text" name="name" [(ngModel)]="aluno.nome"></p>
    <p>Idade: <input type="text" name="idade" [(ngModel)]="aluno.idade"></p>
    <button type="button" (click)=cadastrar()>Cadastrar</button>
</form>

<h2>Alunos Cadastrados: </h2>
<hr>
<table>

    <tr>
        <th>#id</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>

    <tr  *ngFor="let aluno of alunos">
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.idade}}</td>
    </tr>
</table>